body {
  margin: 50px;
}
.explanation {
  font-style: italic;
}
button {
  margin: 5px;
}
.text-center {
  text-align: center;
}
.description_info {
    background-color: #D9EEE1;
    border-left: none;
    padding: 32px;
    margin: 24px;
    margin-left: 12px;
    margin-right: 12px;
}